{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
Add Questions
{% endblock %}

{% block script %}
<script>
function toggle(str, checkbox){
    let elem = document.getElementById(str);
    if(checkbox.is(':checked')){
        elem.style.display='block';
        $("#"+str).find('input').prop("disabled", false);
    }
    else{
        elem.style.display='none';
        $("#"+str).find('input').prop("disabled", true);
    }
}
$(document).ready(function(){
    let currentType = 1;
    $('input[name="q_type"]').click(function(){
        let val = $('input[name="q_type"]:checked').val();
        $("#div_type"+currentType).css("display", "none");
        currentType = val;
        $("#div_type"+currentType).css("display", "block");
        if(val==1){
            //alert('True/False selected');
        }
        else if(val==2){
            //alert('Single MCQ selected');

        }
        else if(val==3){
            //alert('Multiple MCQ selected');
            
        }
        else if(val==4){
            //alert('Sequence selected');
            
        }
        else if(val==5){
            //alert('Matching selected');
            
        }
    });
});
</script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row mb-4">
    <div class="col-md-3">Welcome {{user.first_name}}</div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><a href='/main/logout'>Logout</a>&nbsp;&nbsp;</div>
</div>
{% else %}
<div class="row mb-4">
    <div class="col-md-9"></div>
    <div class="col-md-3"><a href='/main/register'>Register</a>&nbsp;&nbsp;<a href='/main/login'>Login</a></div>
</div>
{% endif %}
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="quiz_id" value="{{id}}">
    Question: <input type="text" name="q_text"><br>
    Image <input type="checkbox" onclick="toggle('q_image', $(this))"> Video <input type="checkbox" onclick="toggle('q_video', $(this))"> Audio <input type="checkbox" onclick="toggle('q_audio', $(this))"><br>
    <span id="q_image" class="hide">Image: <input type="file" name="q_image" accept="image/*" disabled><br></span>
    <span id="q_video" class="hide">Video: <input type="text" name="q_video" disabled><br></span>
    <span id="q_audio" class="hide">Audio: <input type="file" name="q_audio" accept="audio/*" disabled><br></span>
    Marks : <input type="number" name="marks"><br>

    <br><hr><br>
    <input type="radio" name="q_type" value="1" >True/False&nbsp;&nbsp;
    <input type="radio" name="q_type" value="2">MCQ Single&nbsp;&nbsp;
    <input type="radio" name="q_type" value="3">MCQ Multiple&nbsp;&nbsp;
    <input type="radio" name="q_type" value="4">Sequence&nbsp;&nbsp;
    <input type="radio" name="q_type" value="5">Matching&nbsp;&nbsp;
    <br><hr><br>

    <div id="div_type1">
        <br>Answer: 
        <input type="radio" name="answer1" value="1">True&nbsp;&nbsp;
        <input type="radio" name="answer1" value="0">False
    </div>
    
    <div id="div_type2" class="hide">
        Single MCQ div<br><br>
        
        Option A: <input type="text" name="a_text2"><br>
        Image <input type="checkbox" onclick="toggle('a_image2', $(this))"> Video <input type="checkbox" onclick="toggle('a_video2', $(this))"> Audio<input type="checkbox" onclick="toggle('a_audio2', $(this))"><br>
        <span id="a_image2" class="hide">Image: <input type="file" name="a_image2" accept="image/*" disabled><br></span>
        <span id="a_video2" class="hide">Video: <input type="text" name="a_video2" disabled><br></span>
        <span id="a_audio2" class="hide">Audio: <input type="file" name="a_audio2" accept="audio/*" disabled><br></span>
        
        Option B: <input type="text" name="b_text2"><br>
        Image <input type="checkbox" onclick="toggle('b_image2', $(this))"> Video <input type="checkbox" onclick="toggle('b_video2', $(this))"> Audio<input type="checkbox" onclick="toggle('b_audio2', $(this))"><br>
        <span id="b_image2" class="hide">Image: <input type="file" name="b_image2" accept="image/*" disabled><br></span>
        <span id="b_video2" class="hide">Video: <input type="text" name="b_video2" disabled><br></span>
        <span id="b_audio2" class="hide">Audio: <input type="file" name="b_audio2" accept="audio/*" disabled><br></span>
        
        Opton C: <input type="text" name="c_text2"><br>
        Image <input type="checkbox" onclick="toggle('c_image2', $(this))"> Video <input type="checkbox" onclick="toggle('c_video2', $(this))"> Audio<input type="checkbox" onclick="toggle('c_audio2', $(this))"><br>
        <span id="c_image2" class="hide">Image: <input type="file" name="c_image2" accept="image/*" disabled><br></span>
        <span id="c_video2" class="hide">Video: <input type="text" name="c_video2" disabled><br></span>
        <span id="c_audio2" class="hide">Audio: <input type="file" name="c_audio2" accept="audio/*" disabled><br></span>
        
        Option D: <input type="text" name="d_text2"><br>
        Image <input type="checkbox" onclick="toggle('d_image2', $(this))"> Video <input type="checkbox" onclick="toggle('d_video2', $(this))"> Audio<input type="checkbox" onclick="toggle('d_audio2', $(this))"><br>
        <span id="d_image2" class="hide">Image: <input type="file" name="d_image2" accept="image/*" disabled><br></span>
        <span id="d_video2" class="hide">Video: <input type="text" name="d_video2" disabled><br></span>
        <span id="d_audio2" class="hide">Audio: <input type="file" name="d_audio2" accept="audio/*" disabled><br></span>

        <br>Answer: 
        <input type="radio" name="answer2" value="1">A&nbsp;&nbsp;
        <input type="radio" name="answer2" value="2">B&nbsp;&nbsp;
        <input type="radio" name="answer2" value="3">C&nbsp;&nbsp;
        <input type="radio" name="answer2" value="4">D&nbsp;&nbsp;
    </div>
    
    <div id="div_type3" class="hide">
        Multiple MCQ div<br><br>
        
        Option A: <input type="text" name="a_text3"><br>
        Image <input type="checkbox" onclick="toggle('a_image3', $(this))"> Video <input type="checkbox" onclick="toggle('a_video3', $(this))"> Audio<input type="checkbox" onclick="toggle('a_audio3', $(this))"><br>
        <span id="a_image3" class="hide">Image: <input type="file" name="a_image" accept="image/*" disabled><br></span>
        <span id="a_video3" class="hide">Video: <input type="text" name="a_video" disabled><br></span>
        <span id="a_audio3" class="hide">Audio: <input type="file" name="a_audio3" accept="audio/*" disabled><br></span>
        
        Option B: <input type="text" name="b_text3"><br>
        Image <input type="checkbox" onclick="toggle('b_image3', $(this))"> Video <input type="checkbox" onclick="toggle('b_video3', $(this))"> Audio<input type="checkbox" onclick="toggle('b_audio3', $(this))"><br>
        <span id="b_image3" class="hide">Image: <input type="file" name="b_image3" accept="image/*" disabled><br></span>
        <span id="b_video3" class="hide">Video: <input type="text" name="b_video3" disabled><br></span>
        <span id="b_audio3" class="hide">Audio: <input type="file" name="b_audio3" accept="audio/*" disabled><br></span>
        
        Opton C: <input type="text" name="c_text3"><br>
        Image <input type="checkbox" onclick="toggle('c_image3', $(this))"> Video <input type="checkbox" onclick="toggle('c_video3', $(this))"> Audio<input type="checkbox" onclick="toggle('c_audio3', $(this))"><br>
        <span id="c_image3" class="hide">Image: <input type="file" name="c_image3" accept="image/*" disabled><br></span>
        <span id="c_video3" class="hide">Video: <input type="text" name="c_video3" disabled><br></span>
        <span id="c_audio3" class="hide">Audio: <input type="file" name="c_audio3" accept="audio/*" disabled><br></span>
        
        Option D: <input type="text" name="d_text3"><br>
        Image <input type="checkbox" onclick="toggle('d_image3', $(this))"> Video <input type="checkbox" onclick="toggle('d_video3', $(this))"> Audio<input type="checkbox" onclick="toggle('d_audio3', $(this))"><br>
        <span id="d_image3" class="hide">Image: <input type="file" name="d_image3" accept="image/*" disabled><br></span>
        <span id="d_video3" class="hide">Video: <input type="text" name="d_video3" disabled><br></span>
        <span id="d_audio3" class="hide">Audio: <input type="file" name="d_audio3" accept="audio/*" disabled><br></span>

        <br>Answer: 
        <input type="checkbox" name="answer3" value="1">A&nbsp;&nbsp;
        <input type="checkbox" name="answer3" value="2">B&nbsp;&nbsp;
        <input type="checkbox" name="answer3" value="3">C&nbsp;&nbsp;
        <input type="checkbox" name="answer3" value="4">D&nbsp;&nbsp;
    </div>
    
    <div id="div_type4" class="hide">
        Sequene Div<br><br>
        
        Option A: <input type="text" name="a_text4"><br>
        Image <input type="checkbox" onclick="toggle('a_image4', $(this))"> Video <input type="checkbox" onclick="toggle('a_video4', $(this))"> Audio<input type="checkbox" onclick="toggle('a_audio4', $(this))"><br>
        <span id="a_image4" class="hide">Image: <input type="file" name="a_image4" accept="image/*" disabled><br></span>
        <span id="a_video4" class="hide">Video: <input type="text" name="a_video4" disabled><br></span>
        <span id="a_audio4" class="hide">Audio: <input type="file" name="a_audio4" accept="audio/*" disabled><br></span>
        
        Option B: <input type="text" name="b_text4"><br>
        Image <input type="checkbox" onclick="toggle('b_image4', $(this))"> Video <input type="checkbox" onclick="toggle('b_video4', $(this))"> Audio<input type="checkbox" onclick="toggle('b_audio4', $(this))"><br>
        <span id="b_image4" class="hide">Image: <input type="file" name="b_image4" accept="image/*" disabled><br></span>
        <span id="b_video4" class="hide">Video: <input type="text" name="b_video4" disabled><br></span>
        <span id="b_audio4" class="hide">Audio: <input type="file" name="b_audio4" accept="audio/*" disabled><br></span>
        
        Opton C: <input type="text" name="c_text4"><br>
        Image <input type="checkbox" onclick="toggle('c_image4', $(this))"> Video <input type="checkbox" onclick="toggle('c_video4', $(this))"> Audio<input type="checkbox" onclick="toggle('c_audio4', $(this))"><br>
        <span id="c_image4" class="hide">Image: <input type="file" name="c_image4" accept="image/*" disabled><br></span>
        <span id="c_video4" class="hide">Video: <input type="text" name="c_video4" disabled><br></span>
        <span id="c_audio4" class="hide">Audio: <input type="file" name="c_audio4" accept="audio/*" disabled><br></span>
        
        Option D: <input type="text" name="d_text4"><br>
        Image <input type="checkbox" onclick="toggle('d_image4', $(this))"> Video <input type="checkbox" onclick="toggle('d_video4', $(this))"> Audio<input type="checkbox" onclick="toggle('d_audio4', $(this))"><br>
        <span id="d_image4" class="hide">Image: <input type="file" name="d_image4" accept="image/*" disabled><br></span>
        <span id="d_video4" class="hide">Video: <input type="text" name="d_video4" disabled><br></span>
        <span id="d_audio4" class="hide">Audio: <input type="file" name="d_audio4" accept="audio/*" disabled><br></span>
        <br>Answer: <input type="text" name="answerA" style="width: 30px;">=>
        <input type="text" name="answerB" style="width: 30px;">=>
        <input type="text" name="answerC" style="width: 30px;">=>
        <input type="text" name="answerD" style="width: 30px;">
    </div>
    
    <div id="div_type5" class="hide">
        <table class="table">
            <tr>
                <td>
                    Option A: <input type="text" name="a_text5"><br>
                    Image <input type="checkbox" onclick="toggle('a_image5', $(this))"> Video <input type="checkbox" onclick="toggle('a_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('a_audio5', $(this))"><br>
                    <span id="a_image5" class="hide">Image: <input type="file" name="a_image5" accept="image/*" disabled><br></span>
                    <span id="a_video5" class="hide">Video: <input type="text" name="a_video5" disabled><br></span>
                    <span id="a_audio5" class="hide">Audio: <input type="file" name="a_audio5" accept="audio/*" disabled><br></span>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-2"><select name="answerma"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                    <div class="col-md-10">
                        Option A: <input type="text" name="a2_text5"><br>
                        Image <input type="checkbox" onclick="toggle('a2_image5', $(this))"> Video <input type="checkbox" onclick="toggle('a2_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('a2_audio5', $(this))"><br>
                        <span id="a2_image5" class="hide">Image: <input type="file" name="a2_image5" accept="image/*" disabled><br></span>
                        <span id="a2_video5" class="hide">Video: <input type="text" name="a2_video5" disabled><br></span>
                        <span id="a2_audio5" class="hide">Audio: <input type="file" name="a2_audio5" accept="audio/*" disabled><br></span>
                    </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Option B: <input type="text" name="b_text5"><br>
                    Image <input type="checkbox" onclick="toggle('b_image5', $(this))"> Video <input type="checkbox" onclick="toggle('b_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('b_audio5', $(this))"><br>
                    <span id="b_image5" class="hide">Image: <input type="file" name="b_image5" accept="image/*" disabled><br></span>
                    <span id="b_video5" class="hide">Video: <input type="text" name="b_video5" disabled><br></span>
                    <span id="b_audio5" class="hide">Audio: <input type="file" name="b_audio5" accept="audio/*" disabled><br></span>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-2"><select name="answermb"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                    <div class="col-md-10">
                        Option B: <input type="text" name="b2_text5"><br>
                        Image <input type="checkbox" onclick="toggle('b2_image5', $(this))"> Video <input type="checkbox" onclick="toggle('b2_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('b2_audio5', $(this))"><br>
                        <span id="b2_image5" class="hide">Image: <input type="file" name="b2_image5" accept="image/*" disabled><br></span>
                        <span id="b2_video5" class="hide">Video: <input type="text" name="b2_video5" disabled><br></span>
                        <span id="b2_audio5" class="hide">Audio: <input type="file" name="b2_audio5" accept="audio/*" disabled><br></span>
                    </div></div>
                </td>
            </tr>
            <tr>
                <td>
                    Opton C: <input type="text" name="c_text5"><br>
                    Image <input type="checkbox" onclick="toggle('c_image5', $(this))"> Video <input type="checkbox" onclick="toggle('c_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('c_audio5', $(this))"><br>
                    <span id="c_image5" class="hide">Image: <input type="file" name="c_image5" accept="image/*" disabled><br></span>
                    <span id="c_video5" class="hide">Video: <input type="text" name="c_video5" disabled><br></span>
                    <span id="c_audio5" class="hide">Audio: <input type="file" name="c_audio5" accept="audio/*" disabled><br></span>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-2"><select name="answermc"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                    <div class="col-md-10">
                        Opton C: <input type="text" name="c2_text5"><br>
                        Image <input type="checkbox" onclick="toggle('c2_image5', $(this))"> Video <input type="checkbox" onclick="toggle('c2_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('c2_audio5', $(this))"><br>
                        <span id="c2_image5" class="hide">Image: <input type="file" name="c2_image5" accept="image/*" disabled><br></span>
                        <span id="c2_video5" class="hide">Video: <input type="text" name="c2_video5" disabled><br></span>
                        <span id="c2_audio5" class="hide">Audio: <input type="file" name="c2_audio5" accept="audio/*" disabled><br></span>
                    </div></div>
                </td>
            </tr>
            <tr>
                <td>
                    Option D: <input type="text" name="d_text5"><br>
                    Image <input type="checkbox" onclick="toggle('d_image5', $(this))"> Video <input type="checkbox" onclick="toggle('d_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('d_audio5', $(this))"><br>
                    <span id="d_image5" class="hide">Image: <input type="file" name="d_image5" accept="image/*" disabled><br></span>
                    <span id="d_video5" class="hide">Video: <input type="text" name="d_video5" disabled><br></span>
                    <span id="d_audio5" class="hide">Audio: <input type="file" name="d_audio5" accept="audio/*" disabled><br></span>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-2"><select name="answermd"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                    <div class="col-md-10">
                        Option D: <input type="text" name="d2_text5"><br>
                        Image <input type="checkbox" onclick="toggle('d2_image5', $(this))"> Video <input type="checkbox" onclick="toggle('d2_video5', $(this))"> Audio<input type="checkbox" onclick="toggle('d2_audio5', $(this))"><br>
                        <span id="d2_image5" class="hide">Image: <input type="file" name="d2_image5" accept="image/*" disabled><br></span>
                        <span id="d2_video5" class="hide">Video: <input type="text" name="d2_video5" disabled><br></span>
                        <span id="d2_audio5" class="hide">Audio: <input type="file" name="d2_audio5" accept="audio/*" disabled><br></span>
                    </div></div>
                </td>
            </tr>
        </table>
        
        
        
    </div>

    <br><br><hr><br><input type="submit" value="Submit">
</form>
{% endblock %}