
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
Create Course
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row mb-4">
    <div class="col-md-3">Welcome {{user.first_name}}</div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><a href='/main/logout'>Logout</a>&nbsp;&nbsp;</div>
</div>
{% else %}
<div class="row mb-4">
    <div class="col-md-9"></div>
    <div class="col-md-3"><a href='/main/register'>Register</a>&nbsp;&nbsp;<a href='/main/login'>Login</a></div>
</div>
{% endif %}
<form method='POST'>
    {% csrf_token %}
    Name : <input type="text" name="name"><br>
    <input type="submit" name="action" value="home">
    <input type="submit" name="action" value="add">
</form>

{% endblock %}