
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row mb-4">
    <div class="col-md-3">Welcome {{user.first_name}}</div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><a href='/main/logout'>Logout</a>&nbsp;&nbsp;{% if user.role != 3 %}<a href="/main/createQuiz/">Create Quiz</a>{% endif %}</div>
</div>
{% else %}
<div class="row mb-4">
    <div class="col-md-9"></div>
    <div class="col-md-3"><a href='/main/register'>Register</a>&nbsp;&nbsp;<a href='/main/login'>Login</a></div>
</div>
{% endif %}

<ul class="list-group">
{% for q in quizzes %}
    <li class="list-group-item">
        <div class="row mt-2">
            <div class="col-md-9">{{q.name}} by {{q.tutor.first_name}}</div>
            <div class="col-md-3">
                {% if user.role == 1 or user.role == 2 %}
                <a href="/main/viewQuiz/?id={{q.id}}">View Quiz&nbsp;&nbsp;</a>
                {% elif user.role == 3 %}
                <a href="/main/takeQuiz/?id={{q.id}}">Take Quiz</a>
                {% endif %}
                {% if user.role == 1 or q.tutor_id == user.id %}
                <a href="/main/editQuiz/?id={{q.id}}">Edit Quiz</a>
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}