
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row mb-4">
    <div class="col-md-3">Welcome {{user.first_name}}</div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><a href='/main/logout'>Logout</a>&nbsp;&nbsp;{% if user.role == 2 %}<a href="/main/createCourse/">Create Course</a>{% endif %}</div>
</div>
{% else %}
<div class="row mb-4">
    <div class="col-md-9"></div>
    <div class="col-md-3"><a href='/main/register'>Register</a>&nbsp;&nbsp;<a href='/main/login'>Login</a></div>
</div>
{% endif %}
<h3>Course Catalog</h3>
<ul class="list-group">
{% for c in courses %}
    <li class="list-group-item">
        <div class="row mt-2">
            <div class="col-md-8">{{c.name}} by {{c.tutor.first_name}}</div>
            {% if user.is_authenticated %}
            <div class="col-md-4">
                <a href="/main/viewCourse/?id={{c.id}}">View Course&nbsp;&nbsp;</a>
                {% if user.role == 1 or user.id == c.tutor.id %}
                <a href="/main/deleteCourse/?id={{c.id}}">Delete Course</a>
                {% endif %}
                {% if user.role == 3 %}
                    {% if c.id in enrolled_courses %}
                    Enrolled
                    {% else %}
                    <a href="/main/enroll/?id={{c.id}}">Enroll</a>
                    {% endif %}
                {% endif %}
                <!-- {% if user.role == 1 or c.tutor_id == user.id %}
                <a href="/main/editCourse/?id={{c.id}}">Edit Course</a>
                {% endif %} -->
            </div>
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}