{% extends 'main/base.html' %}
{% load main_filters %}
{% load staticfiles %}

{% block title %}
Attempt Quiz
{% endblock %}

{% block script %}
<script>
    {% if endTime == -10 %}
    var newDateObj = moment(new Date()).add({{minutes}}, 'm').toDate();
    var newTimeObj = newDateObj.getTime();
    {% else %}
    var newTimeObj = "{{endTime}}";
    {% endif %}
    console.log(newTimeObj);

    var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = newTimeObj - now;
    
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("minutes").innerHTML = hours + "h "
    + minutes + "m " + seconds + "s ";

    if (distance < 0) {
        clearInterval(x);
        document.getElementById("minutes").innerHTML = "EXPIRED";
        window.location.href = "/main/viewResult/?s_id={{request.user.id}}&q_id={{quiz.id}}";
    }
    }, 1000);
    function storeTimer(){
        $("#endTime").val(newTimeObj);
        console.log('time stored');
    }
</script>
{% endblock %}

{% block content %}
<h2>{{quiz.name}} by {{quiz.tutor.first_name}}</h2>
passing: {{quiz.pass_marks}}, max: {{quiz.max_marks}}, time: {{quiz.time}} minutes,<br>
remaining time : <span id="minutes"></span>


<div style="margin-top: 50px;">
<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="row card-title">
                <div class="col-md-10">
                    Question: {{q.q_text}} no{{q.id}} correct{{q.answer}}
                </div>
                <div class="col-md-2">
                    <span>
                        {% if q.difficulty == 'easy' %}<button class="btn btn-success">Easy</button>
                        {% elif q.difficulty == 'medium' %}<button class="btn btn-warning">Medium</button>
                        {% elif q.difficulty == 'hard' %}<button class="btn btn-danger">Hard</button>
                        {% else %}
                        {% endif %}
                </span>
                </div>
            </div>
            <div class="card-text">
    {% if q.q_image != '' %}
        <img src="/media/{{q.q_image}}" width=5%>
    {% endif %}
    {% if q.q_video != None %}
    <iframe width="300" height="200" src="{{q.q_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.q_audio != '' %}
    <audio controls>
        <source src="/media/{{q.q_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}
    {% if q.q_type == 1 %}
    <input type="radio" name="answer1" value="1">True&nbsp;&nbsp;
    <input type="radio" name="answer1" value="0">False
    {% endif %}<br>
    
    {% if q.q_type == 2 %}
        A){{q.a_text}}
        {% if q.a_image != '' %}
            <img src="/media/{{q.a_image}}" width=5%>
        {% endif %}
        {% if q.a_video != None %}
        <iframe width="300" height="200" src="{{q.a_video}}" frameborder="0" allowfullscreen></iframe>
        </iframe>
        {% endif %}
        {% if q.a_audio != '' %}
        <audio controls>
            <source src="/media/{{q.a_audio}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}<br>

        B){{q.b_text}}
        {% if q.b_image != '' %}
            <img src="/media/{{q.b_image}}" width=5%>
        {% endif %}
        {% if q.b_video != None %}
        <iframe width="300" height="200" src="{{q.b_video}}" frameborder="0" allowfullscreen></iframe>
        </iframe>
        {% endif %}
        {% if q.b_audio != '' %}
        <audio controls>
            <source src="/media/{{q.b_audio}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}<br>

        C){{q.c_text}}
        {% if q.c_image != '' %}
            <img src="/media/{{q.c_image}}" width=5%>
        {% endif %}
        {% if q.c_video != None %}
        <iframe width="300" height="200" src="{{q.c_video}}" frameborder="0" allowfullscreen></iframe>
        </iframe>
        {% endif %}
        {% if q.c_audio != '' %}
        <audio controls>
            <source src="/media/{{q.c_audio}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}<br>

        D){{q.d_text}}
        {% if q.d_image != '' %}
            <img src="/media/{{q.d_image}}" width=5%>
        {% endif %}
        {% if q.d_video != None %}
        <iframe width="300" height="200" src="{{q.d_video}}" frameborder="0" allowfullscreen></iframe>
        </iframe>
        {% endif %}
        {% if q.d_audio != '' %}
        <audio controls>
            <source src="/media/{{q.d_audio}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        {% endif %}<br>
        Answer -> 
        <input type="radio" name="answer2" value="1">A&nbsp;&nbsp;
        <input type="radio" name="answer2" value="2">B&nbsp;&nbsp;
        <input type="radio" name="answer2" value="3">C&nbsp;&nbsp;
        <input type="radio" name="answer2" value="4">D
    {% endif %}
    
    {% if q.q_type == 3 %}
    A){{q.a_text}}
    {% if q.a_image != '' %}
        <img src="/media/{{q.a_image}}" width=5%>
    {% endif %}
    {% if q.a_video != None %}
    <iframe width="300" height="200" src="{{q.a_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.a_audio != '' %}
    <audio controls>
        <source src="/media/{{q.a_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>

    B){{q.b_text}}
    {% if q.b_image != '' %}
        <img src="/media/{{q.b_image}}" width=5%>
    {% endif %}
    {% if q.b_video != None %}
    <iframe width="300" height="200" src="{{q.b_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.b_audio != '' %}
    <audio controls>
        <source src="/media/{{q.b_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>

    C){{q.c_text}}
    {% if q.c_image != '' %}
        <img src="/media/{{q.c_image}}" width=5%>
    {% endif %}
    {% if q.c_video != None %}
    <iframe width="300" height="200" src="{{q.c_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.c_audio != '' %}
    <audio controls>
        <source src="/media/{{q.c_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>

    D){{q.d_text}}
    {% if q.d_image != '' %}
        <img src="/media/{{q.d_image}}" width=5%>
    {% endif %}
    {% if q.d_video != None %}
    <iframe width="300" height="200" src="{{q.d_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.d_audio != '' %}
    <audio controls>
        <source src="/media/{{q.d_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>
    Answer -> 
    <input type="checkbox" name="answer3" value="1">A&nbsp;&nbsp;
    <input type="checkbox" name="answer3" value="2">B&nbsp;&nbsp;
    <input type="checkbox" name="answer3" value="3">C&nbsp;&nbsp;
    <input type="checkbox" name="answer3" value="4">D
    {% endif %}
    
    {% if q.q_type == 4 %}<br>
    A){{q.a_text}}
    {% if q.a_image != '' %}
        <img src="/media/{{q.a_image}}" width=5%>
    {% endif %}
    {% if q.a_video != None %}
    <iframe width="300" height="200" src="{{q.a_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.a_audio != '' %}
    <audio controls>
        <source src="/media/{{q.a_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>

    B){{q.b_text}}
    {% if q.b_image != '' %}
        <img src="/media/{{q.b_image}}" width=5%>
    {% endif %}
    {% if q.b_video != None %}
    <iframe width="300" height="200" src="{{q.b_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.b_audio != '' %}
    <audio controls>
        <source src="/media/{{q.b_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>

    C){{q.c_text}}
    {% if q.c_image != '' %}
        <img src="/media/{{q.c_image}}" width=5%>
    {% endif %}
    {% if q.c_video != None %}
    <iframe width="300" height="200" src="{{q.c_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.c_audio != '' %}
    <audio controls>
        <source src="/media/{{q.c_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>

    D){{q.d_text}}
    {% if q.d_image != '' %}
        <img src="/media/{{q.d_image}}" width=5%>
    {% endif %}
    {% if q.d_video != None %}
    <iframe width="300" height="200" src="{{q.d_video}}" frameborder="0" allowfullscreen></iframe>
    </iframe>
    {% endif %}
    {% if q.d_audio != '' %}
    <audio controls>
        <source src="/media/{{q.d_audio}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% endif %}<br>
    Answer -> 
    <input type="text" name="answerA" placeholder="'a' or 'b' or 'c' or 'd'">->
    <input type="text" name="answerB" placeholder="'a' or 'b' or 'c' or 'd'">->
    <input type="text" name="answerC" placeholder="'a' or 'b' or 'c' or 'd'">->
    <input type="text" name="answerD" placeholder="'a' or 'b' or 'c' or 'd'">
    {% endif %}
    
    {% if q.q_type == 5 %}
    <table class="table">
        <tr>
            <td>A) {{q.a_text}}
                {% if q.a_image != '' %}
                    <img src="/media/{{q.a_image}}" width=5%>
                {% endif %}
                {% if q.a_video != None %}
                <iframe width="300" height="200" src="{{q.a_video}}" frameborder="0" allowfullscreen></iframe>
                </iframe>
                {% endif %}
                {% if q.a_audio != '' %}
                <audio controls>
                    <source src="/media/{{q.a_audio}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
            </td>
            <td>
                <div class="row">
                    <div class="col-md-2"><select name="answerma"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                <div class="col-md-10">{{q.a2_text}}
                    {% if q.a2_image != '' %}
                        <img src="/media/{{q.a2_image}}" width=5%>
                    {% endif %}
                    {% if q.a2_video != None %}
                    <iframe width="300" height="200" src="{{q.a2_video}}" frameborder="0" allowfullscreen></iframe>
                    </iframe>
                    {% endif %}
                    {% if q.a2_audio != '' %}
                    <audio controls>
                        <source src="/media/{{q.a2_audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>B) {{q.b_text}}
                {% if q.b_image != '' %}
                    <img src="/media/{{q.b_image}}" width=5%>
                {% endif %}
                {% if q.b_video != None %}
                <iframe width="300" height="200" src="{{q.b_video}}" frameborder="0" allowfullscreen></iframe>
                </iframe>
                {% endif %}
                {% if q.b_audio != '' %}
                <audio controls>
                    <source src="/media/{{q.b_audio}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
            </td>
            <td>
                <div class="row">
                    <div class="col-md-2"><select name="answermb"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                <div class="col-md-10">{{q.b2_text}}
                    {% if q.b2_image != '' %}
                        <img src="/media/{{q.b_image}}" width=5%>
                    {% endif %}
                    {% if q.b2_video != None %}
                    <iframe width="300" height="200" src="{{q.b2_video}}" frameborder="0" allowfullscreen></iframe>
                    </iframe>
                    {% endif %}
                    {% if q.b2_audio != '' %}
                    <audio controls>
                        <source src="/media/{{q.b2_audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div></div>
            </td>
        </tr>
        <tr>
            <td>C) {{q.c_text}}
                {% if q.c_image != '' %}
                    <img src="/media/{{q.c_image}}" width=5%>
                {% endif %}
                {% if q.c_video != None %}
                <iframe width="300" height="200" src="{{q.c_video}}" frameborder="0" allowfullscreen></iframe>
                </iframe>
                {% endif %}
                {% if q.c_audio != '' %}
                <audio controls>
                    <source src="/media/{{q.c_audio}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
            </td>
            <td>
                <div class="row">
                    <div class="col-md-2"><select name="answermc"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                <div class="col-md-10">{{q.c2_text}}
                    {% if q.c2_image != '' %}
                        <img src="/media/{{q.c2_image}}" width=5%>
                    {% endif %}
                    {% if q.c2_video != None %}
                    <iframe width="300" height="200" src="{{q.c2_video}}" frameborder="0" allowfullscreen></iframe>
                    </iframe>
                    {% endif %}
                    {% if q.c2_audio != '' %}
                    <audio controls>
                        <source src="/media/{{q.c2_audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div></div>
            </td>
        </tr>
        <tr>
            <td>D) {{q.d_text}}
                {% if q.d_image != '' %}
                    <img src="/media/{{q.d_image}}" width=5%>
                {% endif %}
                {% if q.d_video != None %}
                <iframe width="300" height="200" src="{{q.d_video}}" frameborder="0" allowfullscreen></iframe>
                </iframe>
                {% endif %}
                {% if q.d_audio != '' %}
                <audio controls>
                    <source src="/media/{{q.d_audio}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
            </td>
            <td>
                <div class="row">
                    <div class="col-md-2"><select name="answermd"><option value="a">A</option><option value="b">B</option><option value="c">C</option><option value="d">D</option></select></div>
                <div class="col-md-10">{{q.d2_text}}
                    {% if q.d2_image != '' %}
                        <img src="/media/{{q.d2_image}}" width=5%>
                    {% endif %}
                    {% if q.d2_video != None %}
                    <iframe width="300" height="200" src="{{q.d2_video}}" frameborder="0" allowfullscreen></iframe>
                    </iframe>
                    {% endif %}
                    {% if q.d2_audio != '' %}
                    <audio controls>
                        <source src="/media/{{q.d2_audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div></div>
            </td>
        </tr>
    </table>
    {% endif %}

    <input type="hidden" name="question_id" value="{{q.id}}">
    <input type="hidden" name="quiz_id" value="{{quiz.id}}">
    <input type="hidden" name="question_no" value="{{question_no}}">
    <input type="hidden" name="question_type" value="{{q.q_type}}">
    <input type="hidden" name="endTime" id="endTime" value="">
<br>
{% if last_question is True %}
    <input type="submit" value="Finish Quiz" onclick="storeTimer()">
{% else %}
    <input type="submit" value="Next Question" onclick="storeTimer()">
{% endif %}</div>
</div>
</div>
</form>
</div>
{% endblock %}