
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
Course Home
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row mb-4">
    <div class="col-md-3">Welcome {{user.first_name}}</div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><a href='/main/logout'>Logout</a></div>
</div>
{% else %}
<div class="row mb-4">
    <div class="col-md-9"></div>
    <div class="col-md-3"><a href='/main/register'>Register</a>&nbsp;&nbsp;<a href='/main/login'>Login</a></div>
</div>
{% endif %}

<h3>{{course.name}} by {{course.tutor.first_name}}</h3>
{% if user.role == 3 %}
<div class="progress m-4">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
    {{percent}}% Complete
  </div>
</div>
{% endif %}
<ul class="list-group">
{% for q in quizzes %}
    {% if q.disabled == 1 and show or q.disabled == 0 %}
    <li class="list-group-item">
        <div class="row mt-2">
            <div class="col-md-7">{{q.name}}</div>
            {% if user.is_authenticated %}
            <div class="col-md-5">
                {% if user.role == 1 or q.tutor_id == user.id %}
                <a href="/main/editQuiz/?id={{q.id}}">Edit Quiz</a>&nbsp;&nbsp;
                    {% if q.disabled == 0 %}
                    <a href="/main/disableQuiz/?id={{q.id}}">Disable Quiz</a>&nbsp;&nbsp;
                    {% else %}
                    <a href="/main/enableQuiz/?id={{q.id}}">Enable Quiz</a>&nbsp;&nbsp;
                    {% endif %}
                <a href="/main/deleteQuiz/?id={{q.id}}">Delete Quiz</a>&nbsp;&nbsp;
                {% endif %}
                {% if user.role == 1 or user.role == 2 %}
                <a href="/main/viewQuiz/?id={{q.id}}">View&nbsp;&nbsp;</a>
                <a href="/main/viewResults/?id={{q.id}}">Results&nbsp;&nbsp;</a>
                {% elif user.role == 3 %}
                {% if enrolled %}
                    {% if q.id in attempted_quizzes %}
                        <a href="/main/viewSolution/?qid={{q.id}}&sid={{request.user.id}}">View Solution</a>
                    {% else %}
                        <a href="/main/takeQuiz/?id={{q.id}}">Take Quiz</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
            {% endif %}
        </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
{% if user.role == 2 %}<div><a href="/main/createQuiz/?id={{course.id}}">Add Quiz</a></div>{% endif %}
{% endblock %}